# Jupyter - Python Basics

## Cell Input & Output

In [9]:
1+2

3

In [10]:
1+1
1+2

3

## The Print Function

Debe usarse paréntesis alrededor del parámetro

In [11]:
print(1+2)

3

## Variables

Lista de las más comunes:
   ** Tipo Numérico: **
    - Bool (Boolean).
    - Int (Integer / Long).
    - Float
    - Complex

In [12]:
a = 1
b = 2
c = 3
d = 1j
e = 1/3
f = True

## Operaciones

In [13]:
a + b

3

In [14]:
a*b

2

In [15]:
(b+d)*a

(2+1j)

In [16]:
a+f

2

### Conocer el tipo de dato

In [17]:
type(1.5)

float

In [18]:
type(2)

int

## Otro tipo de variables:
- str (string).
- list (ordered array).
- tuple (Ordered Inmutable Array).
- dict (Unordered list of keys and values).

In [19]:
my_name = "carlos"

In [20]:
print(my_name)

carlos

### List | Lista

In [21]:
my_list = [1,2,3,4,5]

In [22]:
print(my_list)

[1, 2, 3, 4, 5]

In [23]:
my_list + [6]

[1, 2, 3, 4, 5, 6]

In [24]:
my_list

[1, 2, 3, 4, 5]

In [25]:
my_list += [6,7,8]
my_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
my_list.append(5)
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 5]

In [28]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 5]

### Tuple | Tupla

In [29]:
my_tuple = (1,2,3)

In [30]:
my_tuple

(1, 2, 3)

In [31]:
my_tuple + (4,5,6)
my_tuple

(1, 2, 3)

### Dict | Diccionario

In [32]:
my_dict = {"name":"Carlos","last_name":"Villalba"}

In [33]:
my_dict

{'name': 'Carlos', 'last_name': 'Villalba'}

In [34]:
my_dict["name"]

'Carlos'

In [35]:
my_dict["last_name"]

'Villalba'

In [36]:
my_dict["level"] = 4
my_dict

{'name': 'Carlos', 'last_name': 'Villalba', 'level': 4}

In [37]:
my_dict.values()

dict_values(['Carlos', 'Villalba', 4])

In [38]:
my_dict.keys()

dict_keys(['name', 'last_name', 'level'])

## Selecting & Slicing

In [39]:
len(my_list)

9

Para seleccionar un valor de la lista:

In [40]:
my_list[0]

1

Para seleccionar varios valores de la lista: 


index[start:end:step]

In [41]:
my_list[1:2]

[2]

In [42]:
my_list[:3]

[1, 2, 3]

In [43]:
my_list[3:]

[4, 5, 6, 7, 8, 5]

Index negative selected from the end of the list

In [44]:
my_list[-1]

5

In [45]:
my_list[-2]

8

In [46]:
my_list[-2:]

[8, 5]

In [47]:
my_list[:-2]

[1, 2, 3, 4, 5, 6, 7]

In [48]:
my_list[3:-1]

[4, 5, 6, 7, 8]

The third location in the index is the step. If the step is negative the list is returned in **descending order**.

In [49]:
my_list[::2]

[1, 3, 5, 7, 5]

In [50]:
my_list[3::2]

[4, 6, 8]

In [51]:
my_list[::-1]

[5, 8, 7, 6, 5, 4, 3, 2, 1]

### Working with string

You can select from string like a list suing this sintax:
    
my_string[star:end:step]

In [52]:
my_name

'carlos'

In [53]:
my_name[-1]

's'

You can use negative indexing.

In [54]:
my_name[:2]

'ca'

### Unicode

You can use unicode inside your string variables.

In [55]:
divide_by_zero = {"eng":"you cannot divide by zero",
                "esp":"No se puede dividir por cero"}

In [56]:
print(divide_by_zero["eng"])

you cannot divide by zero

In [57]:
type(divide_by_zero["esp"])

str

## String Formatting

You can use this syntax toformat a string:

In [58]:
some_variable = 50

In [59]:
X = "Value: %s" % some_variable

In [60]:
print(X)

Value: 50

In [61]:
first_name = "carlos"

In [62]:
last_name = "villalba"

In [63]:
formatted_name = "%s, %s." %(last_name, first_name[0])

In [64]:
print(formatted_name)

villalba, c.

Others format could be used to ormat numbers:

In [65]:
print("π = %.2f" %3.1416)

π = 3.14

[Unicode Character](https://www.fileformat.info/info/unicode/char/a.htm)

In [66]:
homeworks = 10.55
midterm = 22
final = 51
total = homeworks + midterm + final

print("Homeworks: %.2f \nMid-Term: %.2f\nFinal: %.2f\nTotal: %.2f/100" % (homeworks, midterm, final, total))

Homeworks: 10.55
Mid-Term: 22.00
Final: 51.00
Total: 83.55/100

## Using Format Function

In [67]:
url = "http//:{language}.wikipedia.org/"
url = url.format(language="en")
url

'http//:en.wikipedia.org/'

## Mathematics

Suma

In [68]:
1+1

2

División

In [69]:
10/2

5.0

División Entera

10//2

Potencia

In [70]:
2**3

8

Calculo de Residuo (Module Operator)

In [71]:
10 % 3

1

## Importar Librerias

import numpy 

import pandas as pd

In [72]:
import math

In [73]:
n=52
k=1
math.factorial(n) / (math.factorial(k)*math.factorial(n-k))

52.0

## Loops

In [74]:
for counter in [1,2,3,4]:
    print(counter)

1
2
3
4

## Range

In Python3 range is a datatype that generates a list of numbers.

range (stop)
range (start,stop,[step])

In [75]:
for counter in range(5):
    print(counter)

0
1
2
3
4

In [76]:
for counter in range (1,5):
    print(counter)

1
2
3
4

In [77]:
for counter in range (2,10,2):
    print(counter)

2
4
6
8

## While Loop

In [78]:
counter = 2
while counter < 10: 
    print(counter)
    counter += 1

2
3
4
5
6
7
8
9

## If ... Else... Elif

In [82]:
if math.pi == 3.2:
    print("Edward J. Goodwin was right")
else:
    print("PI is irrational")

PI is irrational

In [83]:
if math.sqrt(2) == (10/7):
    print ("ok")
elif math.sqrt(2) != (10/7): 
    print ("no")

no

In [84]:
probability = 0.3

if probability >= 0.75:
    print("Sure thing")
elif probability  >= 0.5:
    print("Maybe")
if probability >= 0.25:
    print("Unusual")
else:
    print("No way")

Unusual

## Functions 
Functions are defined in python using def keyword

In [85]:
def get_circumference(r):
    return math.pi * r *2

In [86]:
get_circumference(2)

12.566370614359172

In [90]:
def funcion2(n,k):
    value = n+k
    return value

In [92]:
funcion2(1,2)

3